.ce-text {
  line-height: 1.6em;
  outline: none;
}

.ce-text[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

/** Show placeholder at the first text if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-text[data-placeholder]:empty::before {
  opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-text[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-text[data-placeholder]:empty:focus::before {
  opacity: 0;
}

.ce-text p:first-of-type{
  margin-top: 0;
}

.ce-text p:last-of-type{
  margin-bottom: 0;
}

[contenteditable="true"].ce-text {
  white-space: nowrap;
  overflow: hidden;
}

[contenteditable="true"].ce-text br {
  display: none;
}

[contenteditable="true"].ce-text * {
  display: inline;
  white-space: nowrap;
}
